#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app .login-container label{
  cursor: pointer;
}

.app .login-container{
  background: #fff;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 10px 20px #121213;
  display: flex;
  flex-direction: column;
}

.app .login-container h2{
  margin-bottom: 20px;
  text-align: center;
}

.app{
  height: 100%;
  background: linear-gradient(90deg, #3af202, #04f257);
  border-radius: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .login-container .input-group,
.app .login-container .input-group
{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.app .login-container .input-group img,
.app .login-container .input-group img
{
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.app .login-container .input-group .left-icon,
.app .login-container .input-group .left-icon
{
    left: 5px;
}
.app .login-container .input-group .right-icon,
.app .login-container .input-group .right-icon
{
    right: 5px;
    cursor: pointer;
}
.app .login-container .input-group input,
.app .login-container .input-group input
{
    width: 100%;
    height: 45px;
    border: none;
    background: #f2f2f2;
    padding: 0 25px;
    border-radius: 10px;
    box-sizing: border-box;
}
.app .login-container .forgot-password{
    width: 100%;
    text-align: right;
    padding-bottom: 20px;
}
.app .login-container .forgot-password label,
.app .login-container p label,
.app .login-container p label
{
    cursor: pointer;
    font-weight: bold;
}
.app .login-container button,
.app .login-container button
{
    border: none;
    height: 40px;
    background: #1c1c1e;
    color: black;
    border-radius: 10px;
}
.app .login-container button:hover,
.app .login-container button:hover
{
    cursor: pointer;
    background: #363636;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.para{
  color: black;
}